<link rel="import" href="../components/bower_components/polymer/polymer.html">
<link rel="import" href="../components/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-translation">
<template>
	<iron-ajax
		id="ajaxGet" 
		method="post"
		handle-as="json"
		url="../../showCasePolymer-server-mvc/getTranslation.json" 
		on-request="submitEvent"
		on-response="responseEvent"
		on-error="errorEvent">
	</iron-ajax>

	<content>{{text}}</content>
</template>
<script>
Polymer({
	is: "my-translation",
	properties: {
		context: String,
		labelCode: String,
		language: String,
		objectToGet: {
			type: Object,
			value: {
				context: String,
				labelCode: String,
				language: String
			}
		}
	},
	ready: function () {
		this.objectToGet.context = this.context;
		this.objectToGet.labelCode = this.labelCode;
		this.objectToGet.language = this.language;
		
		this.$.ajaxGet.params = this.objectToGet;
		this.$.ajaxGet.generateRequest();
	},
	submitEvent: function () {
	},
	responseEvent: function (event, detail){
		var response = detail.response;
		this.text = "";
		if (response.success) {
			this.text = response.data;
		} else {
			if (response.errors) {
				var message = "";
				for (var i = 0; i < response.errors.length; i++) {
					message = message + response.errors[i].errorMessage + "\r\n";
				}
				this.fire('iron-signal', {name: "message-error", data: message});
			}
		}
	},
	errorEvent: function (event, detail) {
		this.fire('iron-signal', {name: "message-error", data: detail.error});
	}
});
</script>
</dom-module>